<!-- Nav -->
<!-- <nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">October Demo</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Basic concepts</a></li>
                <li class="{% if this.page.id == 'ajax' %}active{% endif %}"><a href="{{ 'ajax'|page }}">AJAX framework</a></li>
                <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="{{ 'plugins'|page }}">Plugin components</a></li>
            </ul>
        </div>
    </div>
</nav> -->

<div class="custom-container small-width-layout">
    <div class="logo-nav-wrapper">
        <div class="logo-container">
            <a href="{{ 'home'|page }}">
                <img src="{{ 'assets/img/site_logo.png'|theme }}">

            </a>
        </div>
        <div class="nav-container">
            <nav>
                <ul>
                    <li class="{% if this.page.id == '4G' %}active{% endif %}"><a href="4G.php">4G & Internet</a>
<!--                                    <ul>
                            <li><a href="#">Jumbo Data Pack</a></li>
                            <li><a href="#">Double Data</a></li>
                            <li><a href="#">First recharge pack</a></li>
                        </ul>-->
                    </li>
                    <!-- <li><a href="product.php">Products</a></li> -->
                    <li class="{% if this.page.id == 'product' %}active{% endif %}"><a href="{{ 'product'|page }}">Products</a></li>
                    <li class="{% if this.page.id == 'offer' %}active{% endif %}"><a href="{{ 'offer'|page }}">Offer</a></li>
                    <li class="{% if this.page.id == 'international_call' %}active{% endif %}"><a href="{{ 'international_call'|page }}">International Call</a></li>
                    <li class="{% if this.page.id == 'services' %}active{% endif %}"><a href="{{ 'services'|page }}">Services</a></li>
                    <!-- <li><a href="#">Offer</a></li>
                    <li><a href="#">International Call</a></li>
                    <li><a href="#">Services</a></li> -->
                </ul>
            </nav>
        </div>
    </div>
</div>
