title = "home"
url = "/"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Bijay\Banners\Models\Banner"
identifierValue = 2
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"

[builderDetails builderDetails2]
modelClass = "Bijay\Banners\Models\Banner"
identifierValue = 3
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"
==
<section class="co-banner-section">
    <div class="home-banner-slider">
    	{% set record = builderDetails.record %}
		{% set displayColumn = builderDetails.displayColumn %}
		{% set notFoundMessage = builderDetails.notFoundMessage %}
		
		{% if record %}
		    
		    {% for image in record.images%}
		    	
		    	<div class="banner-item">
		            <img src="{{ image.path }}" class="co-background-image">
		            <div class="banner-text co-pack-block">
		                <div class="title">
		                    <h2>{{ image.title }}</h2>
		                </div>
		                <div class="sub-text">
		                    <p>Calls to any network on first recharge pack</p>
		                </div>
		
		                <div class="activation-text">
		                    <ul>
		                        <li>Dial *141* to subscribe</li>
		                        <li>Call: 4343/9802049341</li>
		                        <li>Online Support</li>
		                    </ul>
		                </div>
		            </div>
		        </div>
			{% endfor %}
		    
		{% else %}
		    {{ notFoundMessage }}
		{% endif %}
        
        
    </div>
</section>



<section class="home-packs-section">
    <div class="custom-container">
        <div class="home-packs-slider">
            <div class="co-pack-block padding">
                <div class="co-pack-inside">
                    <div class="title">
                        <h3>Double Data</h3>
                        <h3>Double Mazaa</h3>
                    </div>
                    <div class="sub-text">
                        <p>Enjoy two times the data at same affordable price</p>
                    </div>

                    <div class="activation-text">
                        <ul>
                            <li>Dial *141* to subscribe</li>
                        </ul>
                    </div>
                    <a href="#" class="smart-btn btn-margin">Know more</a>
                </div>
            </div>
            <div class="co-pack-block padding">
                <div class="co-pack-inside">
                    <div class="title">
                        <h3>Double Data</h3>
                        <h3>Double Mazaa</h3>
                    </div>
                    <div class="sub-text">
                        <p>Enjoy two times the data at same affordable price</p>
                    </div>

                    <div class="activation-text">
                        <ul>
                            <li>Dial *141* to subscribe</li>
                        </ul>
                    </div>
                    <button type="submit" class="smart-btn btn-margin">Know more</button>
                </div>
            </div>
            <div class="co-pack-block padding">
                <div class="co-pack-inside">
                    <div class="title">
                        <h3>Double Data</h3>
                        <h3>Double Mazaa</h3>
                    </div>
                    <div class="sub-text">
                        <p>Enjoy two times the data at same affordable price</p>
                    </div>

                    <div class="activation-text">
                        <ul>
                            <li>Dial *141* to subscribe</li>
                        </ul>
                    </div>
                    <input type="submit" class="smart-btn btn-margin" value="Know More">
                </div>
            </div>
            <div class="co-pack-block padding">
                <div class="co-pack-inside">
                    <div class="title">
                        <h3>Double Data</h3>
                        <h3>Double Mazaa</h3>
                    </div>
                    <div class="sub-text">
                        <p>Enjoy two times the data at same affordable price</p>
                    </div>

                    <div class="activation-text">
                        <ul>
                            <li>Dial *141* to subscribe</li>
                        </ul>
                    </div>
                    <input type="submit" class="smart-btn btn-margin" value="Know More">
                </div>
            </div>
            <div class="co-pack-block padding">
                <div class="co-pack-inside">
                    <div class="title">
                        <h3>Double Data</h3>
                        <h3>Double Mazaa</h3>
                    </div>
                    <div class="sub-text">
                        <p>Enjoy two times the data at same affordable price</p>
                    </div>

                    <div class="activation-text">
                        <ul>
                            <li>Dial *141* to subscribe</li>
                        </ul>
                    </div>
                    <input type="submit" class="smart-btn btn-margin" value="Know More">
                </div>
            </div>
            <div class="co-pack-block padding">
                <div class="co-pack-inside">
                    <div class="title">
                        <h3>Double Data</h3>
                        <h3>Double Mazaa</h3>
                    </div>
                    <div class="sub-text">
                        <p>Enjoy two times the data at same affordable price</p>
                    </div>

                    <div class="activation-text">
                        <ul>
                            <li>Dial *141* to subscribe</li>
                        </ul>
                    </div>
                    <input type="submit" class="smart-btn btn-margin" value="Know More">
                </div>
            </div>
        </div>
    </div>
</section>



<section class="home-three-box-section">
    <div class="custom-container small-width-layout add-margin-bottom">
        <div class="image-container">
        	{% set record = builderDetails2.record %}
			{% set displayColumn = builderDetails2.displayColumn %}
			{% set notFoundMessage = builderDetails2.notFoundMessage %}
			
			{% if record %}
			    {% for image in record.images%}
			    <img src="{{ image.path }}" class="co-background-image">
			    {% endfor %}
			{% else %}
			    <img src="{{ 'assets/images/background/plan-background.png'|theme}}" class="co-background-image">
			{% endif %}
            
            <div class="three-box-bottom-fix">
                <div class="three-box-bottom-fix-inner">
                    <div class="three-box-header">
                        <h2>{{ record.images.title }}</h2>
                    </div>
                    <div class="three-box-item" style="background-color: #f4e3ca">
                        <div class="price">
                            <h1>37<sup>Rs</sup></h1>
                        </div>
                        <div class="detail">
                            <p>Talk Unlimited</p>
                            <p>7 days</p>
                        </div>
                    </div>
                    <div class="three-box-item" style="background-color: #b6dbe1">
                        <div class="price">
                            <h1>37<sup>Rs</sup></h1>
                        </div>
                        <div class="detail">
                            <p>Talk Unlimited</p>
                            <p>7 days</p>
                        </div>
                    </div>
                    <div class="three-box-item" style="background-color: #d5ccc8">
                        <div class="price">
                            <h1>37<sup>Rs</sup></h1>
                        </div>
                        <div class="detail">
                            <p>Talk Unlimited</p>
                            <p>7 days</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="custom-container">
        <div class="text-container smallest-width-layout">
            <h2>With smart cell connect internationally with call and text plans that fit your budget. </h2>
            <a href="#" class="smart-btn btn-margin double">Know more</a>
        </div>
    </div>
</section>