description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Smarttel - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/images/site_logo.png'|theme }}">
        <link href="{{ 'assets/css/bowercomponent/slick.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/bowercomponent/slick-theme.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/bowercomponent/bootstrap.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/bowercomponent/jquery.mCustomScrollbar.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/basestyles.css'|theme }}" rel="stylesheet">

        <!--------------------- Scripts Starts ---------------------->
        <script type="text/javascript" src="{{ 'assets/js/jquery.min.js'|theme }}"></script>
        <script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>

    </head>
    <body>
        <div id="wrapper">
            <!-- Header -->
            <header id="header-wrapper">
                {% partial 'site/header' %}
            </header>
            <div id="content-wrapper">

                <!-- Content -->
                <section id="layout-content">
                    {% page %}
                </section>
            </div>
            <!--------------------------------------- Header Wrapper Ends --------------------------------------->
        <!-- Footer -->
        </div>
        <footer id="footer-wrapper">
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts -->
        <!-- <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script> -->

        <script type="text/javascript" src="{{ 'assets/js/slick.min.js'|theme }}"></script>
        <script type="text/javascript" src="{{ 'assets/js/jquery.mCustomScrollbar.concat.min.js'|theme }}"></script>
        <script type="text/javascript" src="{{ 'assets/js/jquery.matchHeight-min.js'|theme }}"></script>
        <script type="text/javascript" src="{{ 'assets/js/thescripts.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
