title = "Page not found (404)"
url = "/404"
layout = "default"
description = "No page found. Please visit our other pages. Thank you."
is_hidden = 0
==
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 text-center">
                <br />
                <img src="{{ 'assets/images/icons/svg/compas.svg'|theme }}" alt="">
            </div>
            <div class="col-xs-10">
                <h1>You appear to be lost...</h1>
                <p>We're very sorry, but the page you requested <em>cannot be found</em> here.</p>
                <p>Try returning to where you started with this compass.</p>
                <p><small><em>Error code: 404</em></small>
            </div>
        </div>
    </div>
</div>