@media all and (max-width: 1600px)
#header-wrapper
  .logo-nav-wrapper
    .logo-container
      width: 65px
    .nav-container
      width: calc(100% - (65px + 40px))
      margin-left: 40px
      ul li a
        padding: 23px 0

#content-wrapper
  .fourG-page
    .offers-section .section-content
      .offer-item
        padding-top: 20px
        &:first-of-type
          background-size: 100%
        &:first-of-type h2
          padding-left: 20px
  .co-banner-section
    .home-banner-slider
      .banner-item
        height: 490px
        .banner-text
          width: 280px
          padding: 30px 32px
  .co-tariff-container .co-tariff-item
    padding: 40px 0
  .co-nav-tab .co-four-col-item-inner a
    padding: 14px 0 15px 0
  .custom-col-row
    margin-left: -50px
    margin-right: -50px
    &.small-margin
      margin-left: -20px
      margin-right: -20px
    .co-two-col-width
      border-spacing: 50px 0
    .co-four-col-width
      border-spacing: 50px 0
    .co-four-col-width-nav .co-four-col-item
      padding: 0 20px


#footer-wrapper
  .bottom-footer ul li
    padding: 25px 0 22px
