#header-wrapper .logo-nav-wrapper .logo-container {
  width: 65px; }
#header-wrapper .logo-nav-wrapper .nav-container {
  width: calc(100% - (65px + 40px));
  margin-left: 40px; }
  #header-wrapper .logo-nav-wrapper .nav-container ul li a {
    padding: 23px 0; }

#content-wrapper .fourG-page .offers-section .section-content .offer-item {
  padding-top: 20px; }
  #content-wrapper .fourG-page .offers-section .section-content .offer-item:first-of-type {
    background-size: 100%; }
  #content-wrapper .fourG-page .offers-section .section-content .offer-item:first-of-type h2 {
    padding-left: 20px; }
#content-wrapper .co-banner-section .home-banner-slider .banner-item {
  height: 490px; }
  #content-wrapper .co-banner-section .home-banner-slider .banner-item .banner-text {
    width: 280px;
    padding: 30px 32px; }
#content-wrapper .co-tariff-container .co-tariff-item {
  padding: 40px 0; }
#content-wrapper .co-nav-tab .co-four-col-item-inner a {
  padding: 14px 0 15px 0; }
#content-wrapper .custom-col-row {
  margin-left: -50px;
  margin-right: -50px; }
  #content-wrapper .custom-col-row.small-margin {
    margin-left: -20px;
    margin-right: -20px; }
  #content-wrapper .custom-col-row .co-two-col-width {
    border-spacing: 50px 0; }
  #content-wrapper .custom-col-row .co-four-col-width {
    border-spacing: 50px 0; }
  #content-wrapper .custom-col-row .co-four-col-width-nav .co-four-col-item {
    padding: 0 20px; }

#footer-wrapper .bottom-footer ul li {
  padding: 25px 0 22px; }

/*# sourceMappingURL=responsive.css.map */
