@font-face {
  font-family: "Trebuchet MS";
  src: url("../../../fonts/TrebuchetMS.eot");
  src: url("../../../fonts/TrebuchetMS.eot?#iefix") format("embedded-opentype");
  src: url("../../../fonts/TrebuchetMS.woff") format("woff");
  src: url("../../../fonts/TrebuchetMS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-size: 78px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 16px; }

p, ul li, ol li {
  font-size: 1em; }

.nav-container ul li a {
  font-size: 18px; }

.three-box-item .price sup, .co-tariff-item .price sup {
  font-size: 23%;
  top: -2.4em;
  left: 4px; }

@media all and (max-width: 1600px) {
  h1 {
    font-size: 70px; }

  h2 {
    font-size: 30px; }

  h3 {
    font-size: 22px; }

  .co-pack-block .sub-text p {
    font-size: 14px; }

  .nav-container ul li a {
    font-size: 16px; } }
#header-wrapper {
  z-index: 1;
  position: absolute;
  width: 100%; }
  #header-wrapper .custom-container {
    overflow: visible; }
  #header-wrapper .logo-nav-wrapper {
    display: inline-block;
    width: 100%;
    vertical-align: top; }
    #header-wrapper .logo-nav-wrapper .logo-container {
      float: left;
      width: 80px; }
      #header-wrapper .logo-nav-wrapper .logo-container img {
        max-width: 100%;
        width: 100%; }
    #header-wrapper .logo-nav-wrapper .nav-container {
      float: left;
      width: calc(100% - (80px + 50px));
      margin-left: 50px;
      background: #da1f3d; }
      #header-wrapper .logo-nav-wrapper .nav-container ul {
        display: table;
        width: 100%; }
        #header-wrapper .logo-nav-wrapper .nav-container ul li {
          position: relative;
          display: table-cell;
          vertical-align: top;
          width: 20%; }
          #header-wrapper .logo-nav-wrapper .nav-container ul li a {
            font-family: "Lato", sans-serif;
            display: block;
            padding: 29px 0;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
            #header-wrapper .logo-nav-wrapper .nav-container ul li a:hover, #header-wrapper .logo-nav-wrapper .nav-container ul li a:focus {
              background: #ab213b;
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease; }
          #header-wrapper .logo-nav-wrapper .nav-container ul li ul {
            background: #da1f3d;
            position: absolute;
            display: block;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.3s ease;
              -webkit-transition--moz-transition: all 0.3s ease;
              -webkit-transition--ms-transition: all 0.3s ease;
              -webkit-transition--o-transition: all 0.3s ease;
              -webkit-transition-transition: all 0.3s ease; }
            #header-wrapper .logo-nav-wrapper .nav-container ul li ul li {
              display: block;
              width: 100%; }
              #header-wrapper .logo-nav-wrapper .nav-container ul li ul li a {
                padding: 29px 10px; }
          #header-wrapper .logo-nav-wrapper .nav-container ul li:hover ul {
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }

#content-wrapper .home-three-box-section .image-container {
  height: 500px;
  position: relative; }
  #content-wrapper .home-three-box-section .image-container .three-box-bottom-fix {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
    #content-wrapper .home-three-box-section .image-container .three-box-bottom-fix .three-box-bottom-fix-inner {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin: auto;
      text-align: left; }
      #content-wrapper .home-three-box-section .image-container .three-box-bottom-fix .three-box-bottom-fix-inner .three-box-item {
        float: left;
        padding: 20px 60px;
        margin: 0 40px; }
        #content-wrapper .home-three-box-section .image-container .three-box-bottom-fix .three-box-bottom-fix-inner .three-box-item .detail p {
          margin-bottom: 0px; }
      #content-wrapper .home-three-box-section .image-container .three-box-bottom-fix .three-box-bottom-fix-inner .three-box-header {
        font-weight: bold;
        position: absolute;
        top: -220px;
        left: 40px;
        padding: 12px 22px;
        border: 4px solid black;
        text-transform: uppercase; }
#content-wrapper .fourG-page .offers-section .section-content {
  position: relative; }
  #content-wrapper .fourG-page .offers-section .section-content:before {
    content: "";
    height: 4px;
    width: 100%;
    background: black;
    position: absolute;
    left: 0px;
    top: -80px; }
  #content-wrapper .fourG-page .offers-section .section-content .offer-item {
    padding-top: 35px; }
    #content-wrapper .fourG-page .offers-section .section-content .offer-item:first-of-type {
      background-image: url("../../img/icons/right-back-arrow.jpg");
      background-position: top right;
      background-repeat: no-repeat; }
      #content-wrapper .fourG-page .offers-section .section-content .offer-item:first-of-type h2 {
        color: #ffffff;
        padding-left: 40px; }
    #content-wrapper .fourG-page .offers-section .section-content .offer-item .title {
      text-transform: uppercase;
      margin-bottom: 30px; }
#content-wrapper .fourG-page .blue-back-section {
  background-color: #3d4952; }
  #content-wrapper .fourG-page .blue-back-section .co-pack-block .co-pack-inside:before {
    background-image: url("../../img/icons/big-right-arrow-white.png"); }
  #content-wrapper .fourG-page .blue-back-section .co-pack-block .title, #content-wrapper .fourG-page .blue-back-section .co-pack-block .sub-text {
    color: #ffffff; }
  #content-wrapper .fourG-page .blue-back-section .co-pack-block .sub-text {
    font-weight: 400;
    max-width: 200px; }
#content-wrapper .slick-slider {
  margin-bottom: 70px; }
  #content-wrapper .slick-slider.home-banner-slider .slick-dots {
    bottom: 24px; }
  #content-wrapper .slick-slider .slick-dots {
    bottom: -70px; }
    #content-wrapper .slick-slider .slick-dots li {
      z-index: 0;
      position: relative;
      background: transparent;
      border: 1px solid black;
      height: 16px;
      width: 16px;
      border-radius: 100px;
      margin: 0 8px; }
      #content-wrapper .slick-slider .slick-dots li button {
        display: none; }
      #content-wrapper .slick-slider .slick-dots li.slick-active:after {
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 100px;
        background: black;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        -webkit--transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
#content-wrapper .co-banner-section .home-banner-slider {
  margin-bottom: 0; }
  #content-wrapper .co-banner-section .home-banner-slider .banner-item {
    position: relative;
    height: 580px; }
    #content-wrapper .co-banner-section .home-banner-slider .banner-item .banner-text {
      position: relative;
      width: 305px;
      padding: 35px 45px;
      border: 4px solid #da1f3d;
      background: #ffffff;
      position: absolute;
      left: 205px;
      top: 64%;
      webkit--transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      #content-wrapper .co-banner-section .home-banner-slider .banner-item .banner-text:after {
        content: "";
        height: 30px;
        width: 30px;
        background-image: url("../../img/banner-right.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: -30px;
        top: 40px; }
#content-wrapper .co-pack-block.padding {
  padding: 0 40px; }
#content-wrapper .co-pack-block .title {
  text-transform: uppercase; }
#content-wrapper .co-pack-block .sub-text {
  margin: 10px 0 18px 0;
  text-transform: uppercase;
  font-weight: bold; }
#content-wrapper .co-pack-block .activation-text {
  font-size: 15px; }
#content-wrapper .co-pack-block .co-pack-inside {
  position: relative; }
  #content-wrapper .co-pack-block .co-pack-inside:before {
    content: "";
    background-image: url("../../img/icons/big-right-arrow-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    left: -40px;
    top: 0px; }
  #content-wrapper .co-pack-block .co-pack-inside .sub-text {
    text-transform: initial; }
#content-wrapper .co-pack-block-type-2 {
  position: absolute;
  padding: 0 70px;
  left: 200px;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  #content-wrapper .co-pack-block-type-2 .text {
    position: relative; }
    #content-wrapper .co-pack-block-type-2 .text:after {
      content: "";
      height: 30px;
      width: 30px;
      background-image: url("../../img/icons/right-arrow-white.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: -70px;
      top: 50%;
      webkit--transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    #content-wrapper .co-pack-block-type-2 .text h2 {
      text-transform: uppercase;
      color: #ffffff; }
      #content-wrapper .co-pack-block-type-2 .text h2:not(:last-of-type) {
        margin-bottom: 4px; }
#content-wrapper .co-tariff-container .co-tariff-item {
  text-align: center;
  padding: 50px 0; }
  #content-wrapper .co-tariff-container .co-tariff-item .co-tariff-item-inner {
    text-align: left;
    display: inline-block;
    vertical-align: middle; }
    #content-wrapper .co-tariff-container .co-tariff-item .co-tariff-item-inner .detail p {
      margin-bottom: 0px;
      font-weight: bold; }
      #content-wrapper .co-tariff-container .co-tariff-item .co-tariff-item-inner .detail p:not(:last-of-type) {
        margin-bottom: 4px; }
#content-wrapper .co-nav-tab {
  -webkit-box-shadow: none;
  box-shadow: none; }
  #content-wrapper .co-nav-tab .co-four-col-item-inner {
    height: 100%; }
    #content-wrapper .co-nav-tab .co-four-col-item-inner a {
      margin: auto;
      display: block;
      padding: 18px 0 20px 0;
      color: black;
      text-align: center;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
#content-wrapper .custom-col-row {
  margin-left: -80px;
  margin-right: -80px; }
  #content-wrapper .custom-col-row.small-margin {
    margin-left: -40px;
    margin-right: -40px; }
  #content-wrapper .custom-col-row .co-four-col-width {
    display: table;
    width: 100%;
    border-spacing: 80px 0; }
    #content-wrapper .custom-col-row .co-four-col-width .co-four-col-item {
      display: table-cell;
      width: 25%;
      margin: 0; }
  #content-wrapper .custom-col-row .co-four-col-width-nav {
    width: 100%;
    display: inline-block;
    vertical-align: top; }
    #content-wrapper .custom-col-row .co-four-col-width-nav .co-four-col-item {
      width: 25%;
      padding: 0 40px; }
      #content-wrapper .custom-col-row .co-four-col-width-nav .co-four-col-item .co-four-col-item-inner {
        border: 4px solid black; }
  #content-wrapper .custom-col-row .co-two-col-width {
    display: table;
    width: 100%;
    border-spacing: 80px 0; }
    #content-wrapper .custom-col-row .co-two-col-width .co-two-col-item {
      display: table-cell;
      width: 25%;
      margin: 0; }
#content-wrapper .co-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

#footer-wrapper .top-footer {
  background: #cacbc6; }
  #footer-wrapper .top-footer ul.footer-links li:not(:last-of-type) {
    margin-bottom: 10px; }
  #footer-wrapper .top-footer ul.footer-links li a {
    font-family: "Trebuchet MS";
    color: black;
    text-transform: uppercase; }
  #footer-wrapper .top-footer .top-footer-eq-item {
    position: relative; }
    #footer-wrapper .top-footer .top-footer-eq-item .footer-social {
      position: absolute;
      bottom: 0px; }
      #footer-wrapper .top-footer .top-footer-eq-item .footer-social ul li {
        display: inline-block;
        vertical-align: text-top; }
        #footer-wrapper .top-footer .top-footer-eq-item .footer-social ul li:not(:last-of-type) {
          margin-right: 10px; }
#footer-wrapper .bottom-footer ul li {
  display: inline-block;
  vertical-align: top;
  padding: 31px 0; }
  #footer-wrapper .bottom-footer ul li:not(:last-of-type) {
    margin-right: 40px; }
    #footer-wrapper .bottom-footer ul li:not(:last-of-type) a {
      position: relative; }
      #footer-wrapper .bottom-footer ul li:not(:last-of-type) a:after {
        content: "";
        height: 100%;
        width: 1px;
        background: black;
        position: absolute;
        right: -20px;
        top: 0; }
  #footer-wrapper .bottom-footer ul li a {
    color: black;
    text-transform: uppercase; }

/*# sourceMappingURL=styles.css.map */
