@import "sitewide/colors"
@import "sitewide/fonts"


#header-wrapper
  z-index: 1
  position: absolute
  width: 100%
  .custom-container
    overflow: visible
  .logo-nav-wrapper
    display: inline-block
    width: 100%
    vertical-align: top
    .logo-container
      float: left
      width: 80px
      img
        max-width: 100%
        width: 100%
    .nav-container
      float: left
      width: calc(100% - (80px + 50px))
      margin-left: 50px
      background: $primary
      ul
        display: table
        width: 100%
        li
          position: relative
          display: table-cell
          vertical-align: top
          width: 20%
          a
            font-family: $font-type-1
            display: block
            padding: 29px 0
            text-align: center
            color: #ffffff
            text-transform: uppercase
            -webkit-transition: all .3s ease
            -moz-transition: all .3s ease
            -ms-transition: all .3s ease
            -o-transition: all .3s ease
            transition: all .3s ease
            &:hover, &:focus
              background: $primary-dark
              -webkit-transition: all .3s ease
              -moz-transition: all .3s ease
              -ms-transition: all .3s ease
              -o-transition: all .3s ease
              transition: all .3s ease
          ul
            background: $primary
            position: absolute
            display: block
            opacity: 0
            visibility: hidden
            -webkit-transition: all .3s ease
              -moz-transition: all .3s ease
              -ms-transition: all .3s ease
              -o-transition: all .3s ease
              transition: all .3s ease
            li
              display: block
              width: 100%
              a
                padding: 29px 10px
          &:hover
            ul
              opacity: 1
              visibility: visible
              -webkit-transition: all .3s ease
              -moz-transition: all .3s ease
              -ms-transition: all .3s ease
              -o-transition: all .3s ease
              transition: all .3s ease




#content-wrapper
  .home-three-box-section
    .image-container
      height: 500px
      position: relative
      .three-box-bottom-fix
        position: absolute
        bottom: 0
        left: 0
        right: 0
        margin: auto
        text-align: center
        .three-box-bottom-fix-inner
          display: inline-block
          position: relative
          vertical-align: top
          margin: auto
          text-align: left
          .three-box-item
            float: left
            padding: 20px 60px
            margin: 0 40px
            .detail
              p
                margin-bottom: 0px
          .three-box-header
            font-weight: bold
            position: absolute
            top: -220px
            left: 40px
            padding: 12px 22px
            border: 4px solid black
            text-transform: uppercase


  .fourG-page
    .offers-section
      .section-content
        position: relative
        &:before
          content: ''
          height: 4px
          width: 100%
          background: black
          position: absolute
          left: 0px
          top: -80px
        .offer-item
          padding-top: 35px
          &:first-of-type
            background-image: url("../../img/icons/right-back-arrow.jpg")
            background-position: top right
            background-repeat: no-repeat
            h2
              color: #ffffff
              padding-left: 40px
          .title
            text-transform: uppercase
            margin-bottom: 30px

    .blue-back-section
      background-color: $blue
      .co-pack-block
        .co-pack-inside
          &:before
            background-image: url("../../img/icons/big-right-arrow-white.png")
        .title, .sub-text
          color: #ffffff
        .sub-text
          font-weight: 400
          max-width: 200px






  .slick-slider
    margin-bottom: 70px
    &.home-banner-slider
      .slick-dots
        bottom: 24px
    .slick-dots
      bottom: -70px
      li
        z-index: 0
        position: relative
        background: transparent
        border: 1px solid black
        height: 16px
        width: 16px
        border-radius: 100px
        margin: 0 8px
        button
          display: none
        &.slick-active
          &:after
            content: ''
            display: block
            height: 10px
            width: 10px
            border-radius: 100px
            background: black
            margin: auto
            position: absolute
            left: 0
            right: 0
            top: 50%
            -webkit--transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            transform: translateY(-50%)




  .co-banner-section
    .home-banner-slider
      margin-bottom: 0
      .banner-item
        position: relative
        height: 580px
        .banner-text
          position: relative
          width: 305px
          padding: 35px 45px
          border: 4px solid $primary
          background: #ffffff
          position: absolute
          left: 205px
          top: 64%
          webkit--transform: translateY(-50%)
          -moz-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          -o-transform: translateY(-50%)
          transform: translateY(-50%)
          &:after
            content: ''
            height: 30px
            width: 30px
            background-image: url('../../img/banner-right.jpg')
            background-size: contain
            background-repeat: no-repeat
            position: absolute
            right: -30px
            top: 40px

  .co-pack-block
    &.padding
      padding: 0 40px
    .title
      text-transform: uppercase
    .sub-text
      margin: 10px 0 18px 0
      text-transform: uppercase
      font-weight: bold
    .activation-text
      font-size: 15px
    .co-pack-inside
      position: relative
      &:before
        content: ''
        background-image: url('../../img/icons/big-right-arrow-black.png')
        background-size: contain
        background-repeat: no-repeat
        height: 30px
        width: 30px
        position: absolute
        left: -40px
        top: 0px
      .sub-text
        text-transform: initial

  .co-pack-block-type-2
    position: absolute
    padding: 0 70px
    left: 200px
    top: 60%
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    transform: translateY(-50%)
    .text
      position: relative
      &:after
        content: ''
        height: 30px
        width: 30px
        background-image: url("../../img/icons/right-arrow-white.png")
        background-size: contain
        background-repeat: no-repeat
        position: absolute
        left: -70px
        top: 50%
        webkit--transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        transform: translateY(-50%)
      h2
        text-transform: uppercase
        color: #ffffff
        &:not(:last-of-type)
          margin-bottom: 4px
  .co-tariff-container
    .co-tariff-item
      text-align: center
      padding: 50px 0
      .co-tariff-item-inner
        text-align: left
        display: inline-block
        vertical-align: middle
        .detail
          p
            margin-bottom: 0px
            font-weight: bold
            &:not(:last-of-type)
              margin-bottom: 4px

  .co-nav-tab
    -webkit-box-shadow: none
    box-shadow: none
    .co-four-col-item-inner
      height: 100%
      a
        margin: auto
        display: block
        padding: 18px 0 20px 0
        color: black
        text-align: center
        position: relative
        top: 50%
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        transform: translateY(-50%)

  .custom-col-row
    margin-left: -80px
    margin-right: -80px
    &.small-margin
      margin-left: -40px
      margin-right: -40px
    .co-four-col-width
      display: table
      width: 100%
      border-spacing: 80px 0
      .co-four-col-item
        display: table-cell
        width: 25%
        margin: 0
    .co-four-col-width-nav
      width: 100%
      display: inline-block
      vertical-align: top
      .co-four-col-item
        width: 25%
        padding: 0 40px
        .co-four-col-item-inner
          border: 4px solid black
    .co-two-col-width
      display: table
      width: 100%
      border-spacing: 80px 0
      .co-two-col-item
        display: table-cell
        width: 25%
        margin: 0
  .co-background-image
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center

#footer-wrapper
  .top-footer
    background: $footer-black
    ul.footer-links
      li
        &:not(:last-of-type)
          margin-bottom: 10px
        a
          font-family: $font-type-2
          color: black
          text-transform: uppercase
    .top-footer-eq-item
      position: relative
      .footer-social
        position: absolute
        bottom: 0px
        ul li
          display: inline-block
          vertical-align: text-top
          &:not(:last-of-type)
            margin-right: 10px
  .bottom-footer
    ul li
      display: inline-block
      vertical-align: top
      padding: 31px 0
      &:not(:last-of-type)
        margin-right: 40px
        a
          position: relative
          &:after
            content: ''
            height: 100%
            width: 1px
            background: black
            position: absolute
            right: -20px
            top: 0

      a
        color: black
        text-transform: uppercase



