@font-face
  font-family: 'Trebuchet MS'
  src: url("../../../fonts/TrebuchetMS.eot")
  src: url("../../../fonts/TrebuchetMS.eot?#iefix") format("embedded-opentype")
  src: url("../../../fonts/TrebuchetMS.woff") format("woff")
  src: url("../../../fonts/TrebuchetMS.ttf") format("truetype")
  font-weight: normal
  font-style: normal



$font-type-1: 'Lato', sans-serif
$font-type-2: 'Trebuchet MS'


h1
  font-size: 78px
h2
  font-size: 38px
h3
  font-size: 26px
h4
  font-size: 16px
p, ul li, ol li
  font-size: 1em

.nav-container
  ul
    li
      a
        font-size: 18px


.three-box-item, .co-tariff-item
  .price
    sup
      font-size: 23%
      top: -2.4em
      left: 4px


@media all and (max-width: 1600px)
  h1
    font-size: 70px
  h2
    font-size: 30px
  h3
    font-size: 22px
  .co-pack-block .sub-text p
    font-size: 14px
  .nav-container
    ul
      li
        a
          font-size: 16px

