@import "colors"
@import "fonts"

html
  height: 100%
  font-family: $font-type-1

body
  font-family: $font-type-1
  height: 100%
  font-size: 16px
  display: block
  padding: 0
  margin: 0
  position: absolute
  bottom: 0
  top: 0
  left: 0
  right: 0
  color: black
  line-height: inherit
  p
    font-family: $font-type-1
    &:last-of-type
      margin-bottom: 0
  h1, h2, h3, h4, h5, h6
    font-family: $font-type-2
    padding: 0
    margin: 0


  ul
    margin: 0
    padding: 0
    li
      list-style: none

  a
    text-decoration: none
    &:hover, &:focus
      text-decoration: none

  #wrapper
    min-height: 100%
    position: relative

  .slick-slider
    .slick-slide
      outline: none

  .smart-btn
    font-size: 14px
    display: inline-block
    vertical-align: top
    padding: 8px 18px
    color: black
    border: 2px solid black
    border-radius: 8px
    text-transform: capitalize
    outline: none
    background: #ffffff
    -webkit-transition: all .3s ease
    -moz-transition: all .3s ease
    -ms-transition: all .3s ease
    -o-transition: all .3s ease
    transition: all .3s ease
    &:focus, &:hover, &:active
      background: black
      color: #ffffff
      -webkit-transition: all .3s ease
      -moz-transition: all .3s ease
      -ms-transition: all .3s ease
      -o-transition: all .3s ease
      transition: all .3s ease

  .section-title
    margin-bottom: 40px
    text-transform: uppercase
    &.double
      margin-bottom: 60px

  .remove-nav-tab-style
    border: none
    li
      &.active
        a
          border: none
          &:focus,&:hover
            border: none
            background: transparent
      a
        border: none
        &:hover
          background: transparent

