.custom-container {
  padding-left: 118px;
  padding-right: 118px;
  margin: 0;
  overflow: hidden; }
  .custom-container.small-width-layout {
    padding-left: 70px;
    padding-right: 70px; }

.smallest-width-layout {
  max-width: 835px;
  margin: auto; }

#header-wrapper {
  top: 70px; }

section {
  padding-bottom: 80px; }

.add-padding-top-bottom {
  padding-top: 80px;
  padding-bottom: 80px; }

.add-padding-top {
  padding-top: 80px; }

.add-margin-bottom {
  margin-bottom: 80px; }

.btn-margin {
  margin-top: 20px; }
  .btn-margin.double {
    margin-top: 40px; }

.custom-container {
  padding-left: 118px;
  padding-right: 118px; }
  .custom-container.small-width-layout {
    padding-left: 55px;
    padding-right: 55px; }

#header-wrapper {
  top: 50px; }

section {
  padding-bottom: 60px; }

.add-padding-top-bottom {
  padding-top: 60px;
  padding-bottom: 60px; }

.add-padding-top {
  padding-top: 60px; }

.add-margin-bottom {
  margin-bottom: 60px; }

/*# sourceMappingURL=spacing.css.map */
